version: '3'
services:
    api:
        image: eem_api
        env_file: config.env
        depends_on:
            - mysql
        volumes:
            - ./expether_API/www:/opt/API/api/../www
        ports: 
            - 5555:5555

    mysql:
        image: mysql:5.7
        env_file: 
            - config.env
        volumes:
            #- ./data/mysql/data:/var/lib/mysql  
            - ./expether_API/config/MySQL_config/dbInit:/docker-entrypoint-initdb.d/:ro  
        ports:
            - 3306:3306 # In case there needs to be changed later 

