version: '3'
services:
    api:
        image: eem_api
        env_file: config.env
        depends_on:
            - mysql
        ports: 
            - 5555:5555

    mysql:
        image: mysql:5.7
        env_file: 
            - config.env
        volumes:
            - ${MYSQL_LOCAL_VOLUME}:/var/lib/mysql  
            - ./expether_API/config/MySQL_config/dbInit:/docker-entrypoint-initdb.d/:ro  
        ports:
            - ${MYSQL_PORT}:3306 # In case there needs to be changed later 

